/*Nav Bar*/
.topnav {
	display: inline-block;
	background-color: white;
	margin-top: -0.8vh;
	margin-bottom: 20vh;
	margin-left: -1.6vh;
	width: 100vw;
	font-family: Georgia,Times,Times New Roman,serif; 
	position: fixed;
	z-index: 1000;
    border-bottom: 0.3vh solid #441616;
	}
	
.topnav img {
	float: left;
	margin-top: 1.852vh;
	margin-bottom: 1.852vh;
	margin-left: 15vw;
	position: sticky;
	}
	
.topnav a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 0.77vw 1.35vw;
	text-decoration: none;
	font-size: 125%;
	margin-top: 4.167vh;
	margin-left: 8vw;
	position: sticky;
	}
			
.topnav a:hover {
	background-color: #ddd;
	border-radius: 0.26vw;
	color: #000000;
	}
				
.topnav a.active {
	color: #000000;
	font-weight: 600;
    background-color: #ddd;
	border-radius: 0.26vw;
	}
.loader {
    width: 7.49vw;
    height: 21.49vh;
    display: block;
    position: relative;
    background-color: #fff;
    background-image: url(beaj.png);
    top: 35%;
    left: 47%;
  }
.loader--hidden {
	opacity: 0;
	visibility: hidden;
}
.loader::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 60%;
    border-top: 20px solid #000;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    animation: animate infinite 3s linear;
}
.loader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    border-top: 20px solid #000;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    animation: animate1 infinite 3s linear;
}

@keyframes animate {
    0%{
        transform: translateY(-3px) rotate(180deg);
    }
    25%{
        transform: translateY(8px) rotate(180deg);
    }
    50%{
        transform: translateY(1px) rotate(180deg);
    }
    75%{
        transform: translateY(-50px) rotate(180deg);  
    }
    100%{
        transform: translateY(-3px) rotate(180deg);
    }
}
@keyframes animate1 {
    0%{
        transform: translateY(3px);
    }
    25%{
        transform: translateY(-8px);
    }
    50%{
        transform: translateY(-1px);
    }
    75%{
        transform: translateY(50px);  
    }
    100%{
        transform: translateY(3px);
    }
}